@use '../variables' as *;

.ym-topbar {
  background: $ym-green;
  color: #fff;
  font-size: 12px;
  padding: 5px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    opacity: 0.9;

    i { margin-right: 4px; }
  }
}
